/* Main Section */
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #DBE2EF;
}

p {
    font-size: 1rem;
    margin: 3px;
}

.container {
    text-align: justify;
    max-width: 800px;
    border-radius: 25px;
    margin: 20px auto;
    padding: 30px;
    background: #F5F7F8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
.contact-details {
    text-align: center;
    font-size: 0.9rem;
}

.no-wrap {
    white-space: nowrap;
}

/* Header Section */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    letter-spacing: 2px;
    margin: 0;
    font-size: 2.5em;
    padding-bottom: 5px;
    color: darkblue;
}

header p {
    margin: 5px 0;
}

a {
    text-decoration: none;
    font-weight: 450;
    color: blue;
}

header a img {
    vertical-align: middle;
    margin-right: 5px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: darkblue;
    font-size: 1.2rem;
    letter-spacing: 2px;
    border-bottom: 1.5px solid #333;
    padding-bottom: 5px;
}

ul li {
    margin-bottom: 10px;
    font-size: 1rem;
}

ul li p {
    margin: 5px 0 0 0;
}

/* Project Languages Section */
.project-languages {
    font-style: italic;
    float: right;
}

/* Education Section */
.education-header {
    font-size: 1rem;
    width: 100%;
}

.left {
    text-align: left;
    width: 75%;
}

.right {
    text-align: right;
    width: 25%;
}

/* Responsive Adjustments */

/* Tablet */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 20px;
        margin: 20px;
    }

    header h1 {
        font-size: 2em;
        letter-spacing: 1.5px;
    }

    section h2 {
        font-size: 1.2rem;
        letter-spacing: 1.5px;
    }

    .contact-details, .education-header, ul li, p {
        font-size: 0.9rem;
    }
}

/* Mobile Phone */
@media (max-width: 480px) {
    .container {
        max-width: 90%;
        padding: 15px;
        margin: 15px;
    }

    header h1 {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    section h2 {
        font-size: 0.6rem;
        letter-spacing: 1px;
    }

    .contact-details, .education-header, ul li, p {
        font-size: 0.5rem;
    }

    th, td {
        padding: 0;
    }

    .education-header {
        margin-bottom: 5px;
    }

    ul, li {
        margin: 0 0 0 6px;
        padding: 0;
    }
}
