body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #DBE2EF;
}

.container {
    max-width: 800px;
    border-radius: 25px;
    margin: 20px auto;
    padding: 30px;
    background: #F5F7F8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    letter-spacing: 2px;
    margin: 0;
    font-size: 2.5em;
    padding-bottom: 5px;
    color: darkblue;
}

header p {
    margin: 5px 0;
}

a {
    text-decoration: none;
    font-weight: 450;
    color: blue;
}

header a img {
    vertical-align: middle;
    margin-right: 5px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: darkblue;
    font-size: 1.2rem;
    letter-spacing: 2px;
    border-bottom: 1.5px solid #333;
    padding-bottom: 5px;
}

ul li {
    margin-bottom: 10px;
    font-size: 1rem;
}

ul li p {
    margin: 5px 0 0 0;
}

p {
    text-align: justify;
    font-size: 15px;
    margin: 3px;
}

.contact-details {
    text-align: center;
    font-size: 0.9rem;
}

.right-side-details {
    float: right;
}

.field-details {
    font-size: 1rem;
}

.project-languages {
    float: right;
    font-style: italic;
}

.no-wrap {
  white-space: nowrap;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 20px;
        margin: 20px;
    }

    .contact-details {
        font-size: 0.8rem;
    }

    .field-details {
        font-size: 0.8rem;
    }

    .right-side-details {
       float: right;
       font-size: 0.8rem;
    }

    .university-name {
      font-size: 0.8rem;
      margin-top: -3px;
    }

    header h1 {
        font-size: 2em;
        letter-spacing: 1.5px;
    }

    section h2 {
        font-size: 1.2rem;
        letter-spacing: 1.5px;
    }

    ul li {
        font-size: 0.8rem;
    }

    p {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 90%;
        padding: 15px;
        margin: 15px;
    }

    .contact-details {
        font-size: 0.6rem;
    }

    .field-details {
        font-size: 0.5rem;
    }

    .right-side-details {
        font-size: 0.5rem;
        margin: 0px;
        float: right;
    }

    .university-name {
      font-size: 0.5rem;
      margin-top: -3px;
    }

    header h1 {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    section h2 {
        font-size: 0.6rem;
        letter-spacing: 1px;
    }

    ul, li {
      margin: 0 0 0 6px;
      padding: 0;
    }

    ul li {
        font-size: 0.5rem;
    }

    p {
        font-size: 8px;
    }
}
